<%- include('header'); %>
<h2>Add New Post</h2>
<form method="post" action="" enctype="multipart/form-data">
	Title:<input type="text" name="title" required><br>
	Body:<input type="text" name="body" required><br>
	Image:<input type="file" name="image"><br>
	<input type="submit" name="submit">
</form>