<h2>Add New Post</h2>
<form method="post" action="">
	Title:<input type="text" name="title" required><br>
	Body:<input type="text" name="body" required><br>
	<input type="submit" name="submit">
</form>